body {
  margin: 0;
  background-color: #ffd000f3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  text-align: center;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(3, 19, 36, 0.9953023445706407);
}

::-webkit-scrollbar-thumb {
  background: #ffd000f3;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: #ffd000f3;
}

h1 {
  color: black;
  font-weight: 700;
  font-size: 2rem;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  
}